body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-height: 350px;
    background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-button {
    cursor: pointer;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-button.new-post {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.nav-button.new-post:hover {
    background-color: white;
    color: #333;

}

.header-container {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.title {
    font-size: 3em;
    font-weight: bold;
}

.subtext {
    margin-top: 8px;
}

.blog-posts {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.blog-posts-container {
    width: 650px;
}

.post {
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 8px;
    margin-top: 16px;
    overflow: hidden;
}

.post-image {
    flex-basis: 40%;
    background-image: url(https://images.unsplash.com/photo-1581080559107-07f878baefcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
    background-size: cover;
}

.post-content {
    flex-shrink: 1;
    flex-basis: 60%;
    padding: 24px;
}

.post-date {
    font-size: 12px;
    color: #adb5bd;
    font-weight: 600;
}

.post-title {
    font-size: 1.5em;
    padding-top: 16px;
    padding-bottom: 4px;
    color: #333;
}

.post-title h4 {
    margin: 0;
}

.post-text p {
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    line-height: 1.4;
    margin: 0;
}

.subtext {
    max-width: 400px;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}